.body-exploit {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.body-exploit .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(60%, 800px) 1fr;
}

/* Header */
.body-exploit .container header {
    display: none;
    flex-direction: column;
    align-items: center;
}
.body-exploit .container header #title {
    margin: 0 0 4px 0;
    text-align: center;
    font-family: var(--font-family-logo);
    font-size: 0.95em;
    font-weight: bold;
    color: var(--color-white-tl);
    text-decoration: none;
}

/* Side  */
.body-exploit .container .side {
    box-sizing: border-box;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}
.body-exploit .container .side .inner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px 24px;
    overflow-y: auto;
}
.body-exploit .container .side .inner::-webkit-scrollbar {
    width: 5px;
}
.body-exploit .container .side .inner::-webkit-scrollbar-track {
    background: none;
}
.body-exploit .container .side .inner::-webkit-scrollbar-thumb {
    background: var(--color-navy-light-super);
}
.body-exploit .container .side .inner .block {
    margin: 12px 0;
}
.body-exploit .container .side .inner .block .head {
    margin: 0;
    color: var(--color-white-tl);
    font-size: 1.2em;
}

/* Side left */
.body-exploit .container .side-left .header {
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-exploit .container .side-left .header .title {
    margin: 4px 0 8px 0;
    font-family: var(--font-family-logo);
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
}
.body-exploit .container .side-left .header #search {
    width: 100%;
}
.body-exploit .container .side-left .header #search .pagefind-ui__form::before {
    display: block;
    top: 10px;
}
.body-exploit .container .side-left .header #search .pagefind-ui__search-input {
    z-index: 2;
    /* height: 40px; */
    padding: 8px 8px 8px 38px;
    background: var(--color-navy-light-super);
    border: none;
    border-radius: 4px;
    outline: none;
    color: var(--color-white);
    --pagefind-ui-scale: 0.6;
}
.body-exploit .container .side-left .header #search .pagefind-ui__search-input::placeholder {
    opacity: 0.6;
}
.body-exploit .container .side-left .header #search .pagefind-ui__search-input:focus {
    outline: 1.2px solid var(--color-pink);
    filter: drop-shadow(0 0 0.1em var(--color-pink));
}
.body-exploit .container .side-left .header #search .pagefind-ui__drawer {
    position: absolute;
    z-index: 1;
    top: 32px;
    width: 100%;
    max-height: 60vh;
    background-color: var(--color-navy-light-super);
    border-radius: 0 0 8px 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: visibility 0s, opacity 0.1s linear;
}
.body-exploit .container .side-left .header #search .pagefind-ui__drawer::-webkit-scrollbar {
    width: 5px;
}
.body-exploit .container .side-left .header #search .pagefind-ui__drawer::-webkit-scrollbar-track {
    background: none;
}
.body-exploit .container .side-left .header #search .pagefind-ui__drawer::-webkit-scrollbar-thumb {
    background: var(--color-white-tl-super);
}
.body-exploit .container .side-left .header #search .pagefind-ui__results-area {
    padding: 12px;
}
.body-exploit .container .side-left .header #search .pagefind-ui__message {
    padding: 4px 0 16px 0;
    font-size: 0.8em;
    color: var(--color-white-tl);
}
.body-exploit .container .side-left .header #search .pagefind-ui__result {
    padding: 8px 0;
    border-color: var(--color-white-tl-super);
    border-width: 0.1em;
}
.body-exploit .container .side-left .header #search .pagefind-ui__result-title {
    line-height: 1.1em;
}
.body-exploit .container .side-left .header #search .pagefind-ui__result-title a {
    color: var(--color-pink);
    font-size: 0.9em;
}
.body-exploit .container .side-left .header #search .pagefind-ui__result-excerpt {
    display: none;
}
.body-exploit .container .side-left .header #search .pagefind-ui__button {
    border-color: var(--color-white-tl);
    color: var(--color-white-tl);
}
.body-exploit .container .side-left .header #search .pagefind-ui__button:hover {
    border-color: var(--color-white);
    color: var(--color-white);
}
.body-exploit .container .side-left .inner .related {
    display: flex;
    flex-direction: column;
}
.body-exploit .container .side-left .inner .related .item {
    margin: 12px 0 4px 0;
    border-bottom: 2px solid var(--color-navy-light-super);
    padding: 6px 4px;
    font-size: 1.1em;
    color: var(--color-white-tl);
}
.body-exploit .container .side-left .inner .related .page {
    padding: 12px 4px;
    transition: 0.1s;
    font-size: 0.85em;
    line-height: 1.6em;
}
.body-exploit .container .side-left .inner .related .page:hover {
    background-color: var(--color-navy-light);
}
.body-exploit .container .side-left .inner .related .page span {
    color: var(--color-white);
}
.body-exploit .container .side-left .inner .related .page a {
    color: var(--color-pink);
    text-decoration: none;
}
.body-exploit .container .side-left .inner .related .page a:hover {
    text-decoration: underline;
}

/* Side right */
.body-exploit .container .side-right .header {
    box-sizing: border-box;
    width: 100%;
}
.body-exploit .container .side-right .header .socials {
    width: 100%;
    border-bottom: 2px solid var(--color-navy-light-super);
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.body-exploit .container .side-right .header .socials a {
    margin: 0 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.body-exploit .container .side-right .header .socials a img {
    width: 32px;
    opacity: 0.8;
}
.body-exploit .container .side-right .header .socials a img:hover {
    opacity: 1;
}
.body-exploit .container .side-right .inner .tools a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: var(--color-pink);
}
.body-exploit .container .side-right .inner .tools a:hover {
    text-decoration: underline;
}


/* Article */
.body-exploit .container .article-wrapper {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}
.body-exploit .container .article-wrapper::-webkit-scrollbar {
    width: 5px;
}
.body-exploit .container .article-wrapper::-webkit-scrollbar-track {
    background: none;
}
.body-exploit .container .article-wrapper::-webkit-scrollbar-thumb {
    background: var(--color-navy-light-super);
}
.body-exploit .container .article-wrapper article {
    width: 100%;
    padding: 0 24px;
    box-sizing: border-box;
}

/* Title */
.body-exploit .container .article-wrapper article .exploit-title {
    margin: 0px;
}

/* Date */
.body-exploit .container .article-wrapper article .exploit-date {
    margin: 0 0 24px 0;
    font-size: 0.9em;
}

/* Tags */
.body-exploit .container .article-wrapper article .exploit-tags {
    margin: 4px 0 24px 0;
}
.body-exploit .container .article-wrapper article .exploit-tags .exploit-tag {
    background-color: var(--color-pink);
    border-radius: 6px;
    padding: 6px 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: var(--color-white);
}

/* Description */
.body-exploit .container .article-wrapper article .exploit-description {
    margin: 32px 0;
}

/* Content */
.body-exploit .container .article-wrapper article .exploit-content {
    margin: 48px 0;
    width: 100%;
}

.body-exploit .container .article-wrapper article .exploit-content h2 {
    border-bottom: 1.5px dashed var(--color-white-tl-super);
}

.body-exploit .container .article-wrapper article .exploit-content a {
    color: var(--color-pink);
}

/* References */
.body-exploit .container .article-wrapper article .exploit-refs {
    margin-top: 120px;
}

.body-exploit .container .article-wrapper article .exploit-refs h2 {
    border-bottom: 1.5px dashed var(--color-white-tl);
}

/* Media query */
@media screen and (max-width: 1024px) {
    .body-exploit .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .body-exploit .container header {
        display: flex;
    }
    .body-exploit .container .side {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .body-exploit .container .article-wrapper {
        width: 100%;
        height: 100%;
        padding: 0;
    }
    .body-exploit .container .article-wrapper article {
        padding: 0;
    }
}