footer {
    margin-top: 64px;
    width: 100vw;
    min-height: 42px;
    background-color: var(--color-black-light);
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .footer-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .footer-inner .footer-socials {
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer .footer-inner .footer-socials a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

footer .footer-inner .footer-socials a img {
    margin-right: 4px;
    width: 24px;
}

footer .footer-inner .footer-socials a span {
    margin-left: 4px;
    font-size: 1.1em;
}

footer .footer-inner .footer-creator {
    margin-top: 12px 0;
}