header {
    width: 100vw;
    position: sticky;
    background-color: var(--color-navy-dark);
    top: 0;
    padding: 16px 8px;
    z-index: 2;
    box-sizing: border-box;
}

header .header-inner {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Title */
header .header-inner #title {
    flex-grow: 0.1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
header .header-inner #title span {
    font-family: var(--font-family-logo);
    font-weight: bold;
    font-size: 1.1em;
    line-height: 0.9em;
    letter-spacing: -0.05em;
}

/* Search */
header .header-inner #search {
    --pagefind-ui-scale: 0.65;
    flex-grow: 1;
}
header .header-inner #search form::before {
    background-color: var(--color-white)!important;
}
header .header-inner #search form input {
    z-index: 2;
    background-color: var(--color-navy-light-super);
    border: none;
    outline: none;
    font-family: var(--font-family-basic);
    font-size: 1.1em;
    color: var(--color-white);
    filter: drop-shadow(0 20px 10px var(--color-navy-tl));
    transition: 0.1s;
}
header .header-inner #search form input:focus {
    outline: 2px solid var(--color-pink);
    filter: drop-shadow(0 0 0.2em var(--color-pink));
}

header .header-inner #search .pagefind-ui__drawer {
    position: absolute;
    z-index: 1;
    top: 32px;
    width: 100%;
    max-height: 60vh;
    background-color: var(--color-navy-light-super);
    border-radius: 0 0 8px 8px;
    overflow: scroll;
    transition: visibility 0s, opacity 0.1s linear;
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__results-area {
    padding: 12px;
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__message {
    font-size: 0.8em;
    color: var(--color-white);
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__result {
    height: 160px;
    border-color: var(--color-white-tl);
    border-width: 0.1em;
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__result .pagefind-ui__result-inner {
    height: 100%;
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__result .pagefind-ui__result-inner .pagefind-ui__result-title {
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__result .pagefind-ui__result-inner .pagefind-ui__result-title .pagefind-ui__result-link {
    font-size: 1.2em;
    color: var(--color-pink);
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__result .pagefind-ui__result-inner .pagefind-ui__result-excerpt {
    height: 100%;
    font-size: 0.9em;
    line-height: 1.6em;
    color: var(--color-white-tl);
    overflow-y: hidden;
    webkit-line-clamp: 3;
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__result .pagefind-ui__result-excerpt mark {
    background-color: var(--color-gold);
}
header .header-inner #search .pagefind-ui__drawer p.pagefind-ui__result-excerpt iframe,
header .header-inner #search .pagefind-ui__drawer p.pagefind-ui__result-excerpt img,
header .header-inner #search .pagefind-ui__drawer p.pagefind-ui__result-excerpt input,
header .header-inner #search .pagefind-ui__drawer p.pagefind-ui__result-excerpt script
{
    display: none;
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__button {
    background-color: var(--color-navy-light-super);
    filter: brightness(1.5);
    border: none;
    font-size: 0.85em;
    font-weight: normal;
    color: var(--color-white-tl);
}
header .header-inner #search .pagefind-ui__drawer .pagefind-ui__button:hover {
    filter: brightness(2);
}

/* Social links */
header .header-inner #socials {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .header-inner #socials a {
    margin: 0 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .header-inner #socials a img {
    font-size: 0.7em;
    height: 36px;
}

/* Media query */
@media screen and (max-width: 480px) {
    header {
        padding: 12px 12px;
    }
    header .header-inner {
        width: 100%;
        flex-direction: column;
    }
    header .header-inner #title {
        /* display: none; */
        margin-bottom: 8px;
        flex-direction: row;
    }
    header .header-inner #title span {
        margin: 0 4px;
    }
    header .header-inner #search {
        width: 100%;
    }
    header .header-inner #socials {
        display: none;
    }
}