.body-index {
    box-sizing: border-box;
    margin: 12px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Site title */
.body-index #title {
    font-family: var(--font-family-logo);
    font-size: 2.2em;
}

/* Site description */
.body-index #description {
    font-size: 1.2em;
}

/* Links */
.body-index #links {
    margin: 6px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.body-index #links a {
    margin: 0 8px;
    text-decoration: none;
}

.body-index #links a img {
    height: 42px;
}
.body-index #links a.hash-cracker img {
    filter: invert(100%);
}

/* Exploits */
.body-index #exploits {
    margin: 32px auto;
    min-width: 80%;
    column-width: 260px;
    justify-content: space-between;
}
.body-index #exploits .block {
    margin: 12px;
    display: inline-block;
    background: var(--color-navy-light);
    border-radius: 12px;
    padding: 14px 28px;
}
.body-index #exploits .block.gray {
    border-top: 3px solid #888888;
}
.body-index #exploits .block.red {
    border-top: 3px solid #af3822;
}
.body-index #exploits .block.brown {
    border-top: 3px solid #9a6822;
}
.body-index #exploits .block.orange {
    border-top: 3px solid #cb5f14;
}
.body-index #exploits .block.yellow {
    border-top: 3px solid #868613;
}
.body-index #exploits .block.lime {
    border-top: 3px solid #589e5a;
}
.body-index #exploits .block.green {
    border-top: 3px solid #18ae8a;
}
.body-index #exploits .block.cyan {
    border-top: 3px solid #1374a6;
}
.body-index #exploits .block.blue {
    border-top: 3px solid #1344b9;
}
.body-index #exploits .block.purple {
    border-top: 3px solid #8521a5;
}
.body-index #exploits .block .category {
    margin: 6px 0 12px 0;
    border-bottom: solid 1.5px var(--color-white-tl-super);
    font-size: 1.6em;
    font-weight: bold;
    color: var(--color-white);
}
.body-index #exploits .block .subcategory {
    margin: 10px 0 4px 0;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color-white-tl);
}
.body-index #exploits .block ul {
    display: flex;
    flex-direction: column;
}
.body-index #exploits .block ul li {
    margin: 6px 0;
}
.body-index #exploits .block ul li a {
    color: var(--color-pink);
    font-size: 0.9em;
    text-decoration: none;
    line-height: 1.2em;
}
.body-index #exploits .block ul li a:hover {
    text-decoration: underline;
}

/* Media query */
@media screen and (max-width: 480px) {
    .body-index {
        width: 90%;
    }
    .body-index #exploits {
        min-width: 90%;
        column-width: 320px;
    }
}